@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.link-call {
    cursor: pointer;
    display: block;
}
.call {
    position: fixed;
    width: 50px;
    height: 50px;
    left: 32px;
    bottom: 32px;
    border-radius: 50%;
    background-color: #e96161;
    z-index: 3;
    animation-name: call;
    animation-delay: 5s;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes call {
   
    50% {
        box-shadow: 0 0 15px 4px #883a3a;
        transform: rotate(40deg);
    }
    100% {
        box-shadow: 0 0 #e96161;
    }
}
.header {
    padding: 20px 0 19px;
    background-color: #000000;
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
}
.container6 {
    max-width: 1214px;
    width: 100%;
    padding: 0px 16px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.link-logo {
    display: block;
    text-decoration: none;
}
.container6-logo {
    font-family: Raleway;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    text-transform: uppercase;
}
.container6-span1 {
    color: #FFFFFF;
}
.container6-span2 {
    color: #e96161;
}
.container6-nav {
    display: flex;
    justify-content: flex-end;
}
.container6-nav a {
    display: block;
    margin-right: 48px;
    text-decoration: none;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    position: relative;
    color: rgba(255, 255, 255, 0.7);
}
.container6-nav a:last-child {
    margin-right: 0;
}
.container6-nav a:hover {
    color: #e96161;
    transform: scale(1.1);
    transition: all .2s linear;
}
.container6-nav a:active {
    color: #ecbebe;
    transform: scale(1);
    transition: all .2s linear;
}
.container6-nav a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    top: 130%;
    left: 0;
    background-color: #e96161;
    transition: width .3s linear;
}
.container6-nav a:hover::after {
    width: 100%;
}
.container6-nav a:active::after {
    background-color: #ecbebe;
}
.wrapper3 {
    padding: 109px 0 101px;
    background-image: url(../img/background2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.wrapper3::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
    top: 0;
    left: 0;
}
.container7 {
    max-width: 1211px;
    width: 100%;
    padding: 0px 16px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}
.container7-article1 {
    max-width: 576px;
}
.container7-h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 70px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 32px;
}
.container7-span1 {
    color: #FFFFFF;
}
.container7-span2 {
    color: #e96161;
}
.container7-h2 {
    font-family: Raleway;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: left;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 71px;
    position: relative;
}
.container7-h2::after {
    content: '';
    position: absolute;
    width: 64px;
    height: 2px;
    top: calc(100% + 35px);
    left: 0;
    background-color: #FFFFFF;
    opacity: 0.5;
}
.container7-text {
    max-width: 230px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: left;
    color: #FFFFFF;
    opacity: 0.5;
    margin-bottom: 39px;
}
.container7-btn {
    display: block;
    padding: 11px 31px;
    background: transparent;
    color: #FFFFFF;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    border: 1px solid #FFFFFF;
    cursor: pointer;
    transition: all .3s linear;
}
.container7-btn:hover {
    background: rgb(211, 84, 70);
    border: 1px solid rgb(211, 84, 70);
    transform: scale(1.1);
}
.container7-btn:active {
    background: rgb(74, 177, 163);
    border: 1px solid rgb(74, 177, 163);
    transform: scale(1);
}
.container7-article2 {
    max-width: 370px;
    width: 100%;
    margin-top: 12px;
}
.container7-form {
    background-color: #FFFFFF;
    border-radius: 10px;
}
.container7-h3 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #333333;
    padding: 15px 0;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
.container7-span {
    display: block;
    padding: 0 9px;
    text-transform: uppercase;
    color: #EC7979;
    animation-name: pulse;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    10% {
        transform: scale(1.2);
    }
    20% {
        transform: scale(1);
    }
    30% {
        transform: scale(1.2);
    }
    40% {
        transform: scale(1);
    }
    50% {
        transform: scale(1);
    }
    60% {
        transform: scale(1);
    }
    70% {
        transform: scale(1.2);
    }
    80% {
        transform: scale(1);
    }
    90% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
.container7-allinput {
    max-width: 252px;
    margin: 0 auto;
}
.container7-input {
    display: block;
    width: 100%;
    height: 57px;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    cursor: pointer;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: left;
    color: #4e4d4d;
}
.container7-input::placeholder {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: left;
    color: #BDBDBD;
}
.container7-input:last-child {
    margin-bottom: 66px;
}
.container7-input:hover {
    outline: none;
    border-bottom: 1px solid #EC7979;
}
.container7-input:focus {
    outline: none;
    border-bottom: 1px solid #747171;
}
.container7-submit {
    display: block;
    width: 100%;
    background-color: #EC7979;
    cursor: pointer;
    border: none;
    border-radius: 0 0 10px 10px;
    padding: 15px 0;
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
}
.container7-submit:hover {
    background-color: rgb(211, 84, 70);
}
.container7-submit:active {
    background: rgb(184, 166, 166);
    box-shadow: inset 0 -5px 5px rgba(0,0,0,.1), inset 0 5px 6px rgba(0,0,0,.3), inset 0 0 0 70px rgb(197, 76, 63);
}
.wrapper6 {
    padding: 14px 0 17px;
    background-color: #F8EFEF;
}
.container8 {
    max-width: 1211px;
    width: 100%;
    padding: 0px 16px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.container8-article1 {
    max-width: 397px;
    width: 100%;
}
.container8-h3 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-align: left;
    color: #333333;
    margin-bottom: 14px;
}
.container8-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: left;
    color: #86878B;
}
.container8-article2 {
    max-width: 700px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.container8-article2 a {
    display: block;
    margin-right: 45px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    transition: .3s linear;
}
.container8-article2 a:last-child {
    margin-right: 0;
}
.container8-article2 a:hover {
    background: rgb(221, 87, 72);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.45);
    transform: scale(1.2);
}
.container8-article2 a:active {
    background: rgb(70, 69, 42);
    transform: scale(1.1);
}
.wrapper7 {
    padding: 100px 0 109px;
}
.container9 {
    max-width: 1204px;
    width: 100%;
    padding: 26px 16px 0;
    margin: 0 auto;
    display: flex;
    position: relative;
}
.container9-tab {
    margin-right: 118px;
}
.container9-tab-btn {
    margin-bottom: 20px;
    display: block;
    width: 111px;
    height: 111px;
    background-color: #333333;
    color: #FFFFFF;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    border: 1px solid #333333;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.container9-tab-btn:last-child {
    margin-bottom: 0;
}
.container9-tab-btn:hover {
    background-color: #e96161;
    border: 1px solid #e96161;
    box-shadow: 0px 15px 20px #333333;
    transform: translateY(-3px);
}
.container9-tab-btn:active {
    background-color: #d63d3d;
    border: 1px solid #d63d3d;
    transform: translateY(3px);
}
.container9-article1 {
    max-width: 572px;
    width: 100%;
    text-align: left;
}
.container9-article1::after {
    content: '';
    position: absolute;
    z-index: -1;
    background-image: url(../img/background3.svg);
    width: 320px;
    height: 253px;
    top: 0;
    right: 0;
}
.container9-article2 {
    display: none;
}
.container9-article2::after {
    content: '';
    position: absolute;
    z-index: -1;
    background-image: url(../img/background3.svg);
    width: 320px;
    height: 253px;
    top: 0;
    right: 0;
}
.container9-article3 {
    display: none;
}
.container9-article3::after {
    content: '';
    position: absolute;
    z-index: -1;
    background-image: url(../img/background3.svg);
    width: 320px;
    height: 253px;
    top: 0;
    right: 0;
}
.container9-h3 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 58px; 
}
.container9-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #86878B;
    text-transform: uppercase; 
    margin-bottom: 108px;
}
.container9-text1 {
    margin-bottom: 20px;
}
.container9-btn {
    display: block;
    padding: 11px 31px;
    background: #EC7979;
    color: #FFFFFF;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    border: 1px solid #EC7979;
    cursor: pointer;
    transition: all .3s linear;
}
.container9-btn:hover {
    background: #d63d3d;
    border: 1px solid #d63d3d;
    transform: scale(1.1);
}
.container9-btn:active {
    background: #333333;
    border: 1px solid #333333;
    transform: scale(1);
}
.wrapper1 {
    padding: 100px 0 109px;
}
.container1 {
    max-width: 1146px;
    width: 100%;
    padding: 0px 16px;
    margin: 0 auto;
    text-align: center;
}
.container1-tittle {
    color: #212121;
    font-family: Raleway;
    font-style: Regular;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 70px;
    text-transform: uppercase;
    position: relative;
}
.container1-tittle::after {
    content: '';
    position: absolute;
    width: 64px;
    height: 2px;
    top: calc(100% + 35px);
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #E72424;
}
.container1-text {
    color: #86878B;
    font-family: Open Sans;
    font-style: regular;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 67px;
}
.subtittle1 {
    display: flex;
    justify-content: space-between;
}
.subtittle {
    display: flex;
    flex-direction: column;
    max-width: 350px;
}
.subtittle-img1 {
    background-image: url(../img/a.svg);
    background-repeat: no-repeat;
    background-size: 23px 30px;
    background-position: center;
    border: 1px solid #E72424;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 0 auto 30px;
}
.subtittle-img2 {
    background-image: url(../img/b.svg);
    background-repeat: no-repeat;
    background-size: 37px 26px;
    background-position: center;
    border: 1px solid #E72424;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 0 auto 30px;
}
.subtittle-img3 {
    background-image: url(../img/c.svg);
    background-repeat: no-repeat;
    background-size: 21px 33px;
    background-position: center;
    border: 1px solid #E72424;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 0 auto 30px;
}
.subtittle-tittle {
    color: #333333;
    font-family: Open Sans;
    font-weight: 700;
    font-style: bold;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 16px;
}
.subtittle-text {
    color: #000000;
    font-family: Open Sans;
    font-weight: 400;
    font-style: regular;
    font-size: 14px;
    line-height: 19px;
}
.wrapper4 {
    background-color: #F5F5F5;
    padding: 80px 0 60px;
}
.container4 {
    max-width: 1207px;
    width: 100%;
    padding: 0px 16px;
    margin: 0 auto;
    text-align: center;
}
.container4-title {
    color: #212121;
    font-family: Raleway;
    font-style: regular;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 70px;
    text-transform: uppercase;
    position: relative;
}
.container4-title::before {
    content: '';
    position: absolute;
    width: 64px;
    height: 2px;
    top: calc(100% + 35px);
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #E72424;
}
.container4-text {
    color: #86878B;
    font-family: Open Sans;
    font-style: regular;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 47px;
}
.container4-item {
    display: flex;
    justify-content: space-between;
}
ul {
    list-style-type: none;
    max-width: 340px;
    width: 100%;
}
ul:nth-child(odd) {
    margin-top: 15px;
}
li {
    padding: 10px 0;
    margin-bottom: 4px;
    color: #86878B;
    font-family: Open Sans;
    font-style: regular;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    background-color: #FFFFFF;
}
li:first-child {
    padding: 15px 0;
    margin-bottom: 1px;
    color: #FFFFFF;
    font-family: Open Sans;
    font-style: bold;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    background-color: #333333;
}
li:nth-child(2) {
    padding: 29px 0;
    margin-bottom: 2px;
    color: #FFFFFF;
    font-family: Open Sans;
    font-style: bold;
    font-weight: 700;
    font-size: 35px;
    line-height: 41px;
    background-color: #333333;
}
li:nth-child(3) {
    padding: 15px 0;
    margin-bottom: 4px;
    color: rgba(255, 255, 255, 0.5);
    font-family: Open Sans;
    font-style: SemiBold;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    background-color: #333333;
}
li:last-child {
    margin-bottom: 0px;
}
.wrapper5 {
    padding: 80px 0 123px;
}
.container5 {
    max-width: 1136px;
    width: 100%;
    padding: 0px 16px;
    margin: 0 auto;
    text-align: center;
}
.container5-title {
    color: #212121;
    font-family: Raleway;
    font-style: regular;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 70px;
    text-transform: uppercase;
    position: relative;
}
.container5-title::before {
    content: '';
    position: absolute;
    width: 64px;
    height: 2px;
    top: calc(100% + 35px);
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #E72424;
}
.container5-text {
    color: #86878B;
    font-family: Open Sans;
    font-style: regular;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 67px;
}
.container5-item {
    display: flex;
    justify-content: space-between;
}
.container5-article {
    max-width: 298px;
    width: 100%;
}
.bg {
    background-color: #E2E2E2;
    border-radius: 8px;
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 22px;
    position: relative;
}
.bg::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 20px;
    bottom: -28px;
    border: 12px solid transparent;
    border-top: 18px solid #E2E2E2;
    z-index: -1;
}
.bg::before {
    z-index: 1;
    box-shadow: none;
   }
.container5-text2 {
    color: #86878B;
    font-family: Open Sans;
    font-style: regular;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}
.container5-tittle2 {
    color: #333333;
    font-family: Open Sans;
    font-style: bold;
    font-weight: 700;
    font-size: 20px;
    line-height: 19px;
    text-align: right;
}
.container5-text3 {
    color: #86878B;
    font-family: Open Sans;
    font-style: regular;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: right;
}
.container5-item2 {
    margin: 0 auto;
    padding: 0 43px;
    display: flex;
    justify-content: space-between;
}
.container5-item3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px 0;
}
.container5-person1 {
    object-fit: cover;
    border-radius: 50%;
}
.container5-person2 {
    object-fit: cover;
    border-radius: 50%;
}
.container5-person3 {
    object-fit: cover;
    border-radius: 50%;
}
.wrapper2 {
    background-image: url(../img/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 76px 0 38px;
    position: relative;
}
.wrapper2::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55);
    top: 0;
    left: 0;
}
.container2 {
    max-width: 1146px;
    width: 100%;
    padding: 0px 16px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 1;
}
.container2-title {
    color: #FFFFFF;
    font-family: Raleway;
    font-style: regular;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 70px;
    text-transform: uppercase;
    position: relative;
}
.container2-title::before {
    content: '';
    position: absolute;
    width: 64px;
    height: 2px;
    top: calc(100% + 35px);
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
}
.container2-text {
    color: #FFFFFF;
    font-family: Raleway;
    font-style: light;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 57px;
}
.container2-btn {
    margin: 0 auto;
    display: block;
    padding: 11px 31px;
    background: transparent;
    color: #FFFFFF;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    border: 1px solid #FFFFFF;
    cursor: pointer;
    transition: all .3s linear;
}
.container2-btn:hover {
    background: rgb(211, 84, 70);
    border: 1px solid rgb(211, 84, 70);
    transform: scale(1.1);
}
.container2-btn:active {
    background: rgb(74, 177, 163);
    border: 1px solid rgb(74, 177, 163);
    transform: scale(1);
}
.wrapper8 {
    padding: 80px 0 44px;
}
.container10 {
    max-width: 1210px;
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
}
.container10-h2 {
    font-family: Raleway;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #212121;
    text-transform: uppercase;
    margin-bottom: 70px;
    position: relative;
}
.container10-h2::after {
    content: '';
    position: absolute;
    width: 64px;
    height: 2px;
    top: calc(100% + 35px);
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #E72424;
}
.container10-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #86878B;
    margin-bottom: 64px;
}
.container10-block{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}
.container10-form-part {
    max-width: 478px;
    width: 100%;
}
.container10-input {
    cursor: pointer;
    display: block;
    width: 100%;
    height: 83px;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: left;
    color: #4e4d4d;
}
.container10-input::placeholder {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: left;
    color: #BDBDBD;
}
.container10-input:hover {
    border-bottom: 1px solid #EC7979;
}
.container10-input:focus {
    outline: none;
    border-bottom: 1px solid #747171;
}
.container10-textarea {
    cursor: pointer;
    display: block;
    resize: none;
    padding-top: 31px;
    width: 100%;
    height: 249px;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: left;
    color: #4e4d4d;
}
.container10-textarea::placeholder {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: left;
    color: #BDBDBD;
}
.container10-textarea:hover {
    border-bottom: 1px solid #EC7979;
}
.container10-textarea:focus {
    outline: none;
    border-bottom: 1px solid #747171;
}
.container10-submit {
    cursor: pointer;
    display: block;
    margin: 0 auto;
    background-color: #EC7979;
    border: 1px solid #EC7979;
    padding: 11px 31px;
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
}
.container10-submit:hover {
    background-color: rgb(211, 84, 70);
}
.container10-submit:active {
    background: rgb(184, 166, 166);
    box-shadow: inset 0 -5px 5px rgba(0,0,0,.1), inset 0 5px 6px rgba(0,0,0,.3), inset 0 0 0 70px rgb(197, 76, 63);
}
.footer {
    background-color: #000;
    padding: 30px 0 15px;
}
.container3 {
    max-width: 1146px;
    width: 100%;
    padding: 0px 16px;
    margin: 0 auto;
}
.container3-item {
    margin: 0 auto 18px;
    display: flex;
    justify-content: center;
}
.container3-item a {
    display: block;
    margin-right: 25px;
    border-radius: 50%;
    width: 23px;
    height: 23px;
    transition: .2s linear;
}
.container3-item a:hover {
    background: rgb(211, 84, 70);
    transform: scale(1.7);
}
.container3-item a:active {
    background: rgb(74, 177, 163);
}
.container3-item a:last-child {
    margin-right: 0px;
}
.container3-text {
    font-family: Open Sans;
    font-style: regular;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}

